In [1]:
import time
start_time = time.time()
from fastlane_bot import Bot, Config, ConfigDB, ConfigNetwork, ConfigProvider
from fastlane_bot.tools.cpc import ConstantProductCurve as CPC, CPCContainer, T, Pair
from fastlane_bot.tools.analyzer import CPCAnalyzer, AttrDict
from fastlane_bot.tools.optimizer import CPCArbOptimizer
from fastlane_bot.branch import BRANCH
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(CPC))
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(CPCAnalyzer))
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(CPCArbOptimizer))
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(Bot))
from fastlane_bot.testing import *
import itertools as it
import collections as cl
plt.style.use('seaborn-dark')
plt.rcParams['figure.figsize'] = [12,6]
from fastlane_bot import __VERSION__
require("3.0", __VERSION__)
print(f"elapsed time: {time.time()-start_time:.2f}s")
print("BRANCH:", BRANCH)

Using default database url, if you want to use a different database, set the backend_url found at the bottom of manager_base.py
Error adding Ethereum blockchain to database Ethereum, (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_blockchains_name"
DETAIL:  Key (name)=(Ethereum) already exists.

[SQL: INSERT INTO blockchains (name, block_number) VALUES (%(name)s, %(block_number)s) RETURNING blockchains.id]
[parameters: {'name': 'Ethereum', 'block_number': 0}]
(Background on this error at: http://sqlalche.me/e/14/gkpj) skipping...
Error adding exchange carbon_v1 to database, (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "exchanges_pkey"
DETAIL:  Key (id)=(6) already exists.

[SQL: INSERT INTO exchanges (id, name, blockchain_name) VALUES (%(id)s, %(name)s, %(blockchain_name)s)]
[parameters: {'id': 6, 'name': 'carbon_v1', 'blockchain_name': 'Ethereum'}]
(Background on this error at: http://sqlalche.me/e/14/gkpj) skipping...
Error adding exchange bancor_v2 to database, (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "exchanges_pkey"
DETAIL:  Key (id)=(1) already exists.

[SQL: INSERT INTO exchanges (id, name, blockchain_name) VALUES (%(id)s, %(name)s, %(blockchain_name)s)]
[parameters: {'id': 1, 'name': 'bancor_v2', 'blockchain_name': 'Ethereum'}]
(Background on this error at: http://sqlalche.me/e/14/gkpj) skipping...
Error adding exchange bancor_v3 to database, (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "exchanges_pkey"
DETAIL:  Key (id)=(2) already exists.

[SQL: INSERT INTO exchanges (id, name, blockchain_name) VALUES (%(id)s, %(name)s, %(blockchain_name)s)]
[parameters: {'id': 2, 'name': 'bancor_v3', 'blockchain_name': 'Ethereum'}]
(Background on this error at: http://sqlalche.me/e/14/gkpj) skipping...
Error adding exchange uniswap_v2 to database, (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "exchanges_pkey"
DETAIL:  Key (id)=(3) already exists.

[SQL: INSERT INTO exchanges (id, name, blockchain_name) VALUES (%(id)s, %(name)s, %(blockchain_name)s)]
[parameters: {'id': 3, 'name': 'uniswap_v2', 'blockchain_name': 'Ethereum'}]
(Background on this error at: http://sqlalche.me/e/14/gkpj) skipping...
Error adding exchange uniswap_v3 to database, (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "exchanges_pkey"
DETAIL:  Key (id)=(4) already exists.

[SQL: INSERT INTO exchanges (id, name, blockchain_name) VALUES (%(id)s, %(name)s, %(blockchain_name)s)]
[parameters: {'id': 4, 'name': 'uniswap_v3', 'blockchain_name': 'Ethereum'}]
(Background on this error at: http://sqlalche.me/e/14/gkpj) skipping...
Error adding exchange sushiswap_v2 to database, (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "exchanges_pkey"
DETAIL:  Key (id)=(5) already exists.

[SQL: INSERT INTO exchanges (id, name, blockchain_name) VALUES (%(id)s, %(name)s, %(blockchain_name)s)]
[parameters: {'id': 5, 'name': 'sushiswap_v2', 'blockchain_name': 'Ethereum'}]
(Background on this error at: http://sqlalche.me/e/14/gkpj) skipping...
ConstantProductCurve v2.10.3 (07/May/2023)
CPCAnalyzer v1.1 (08/May/2023)
CPCArbOptimizer v3.7 (07/May/2023)
CarbonBot v3-b2.1 (03/May/2023)
imported m, np, pd, plt, os, sys, decimal; defined iseq, raises, require
Version = 3-b2.1 [requirements >= 3.0 is met]
elapsed time: 4.86s
BRANCH: devskl

# Arbitrage Dashboard [A013]

In [2]:
bot     = Bot()
CCm     = bot.get_curves()
CA      = CPCAnalyzer(CCm)
pairsc  = CA.pairsc()
print(f"elapsed time: {time.time()-start_time:.2f}s")

elapsed time: 6.16s

## All (Carbon) pairs

In [3]:
print(f"Tokens:  {len(CA.tokens()):4}")
print(f"Pairs:   {len(CA.pairs()) :4} [carbon: {len(CA.pairsc()) :4}]")
print(f"Curves:  {len(CA.curves()):4} [carbon: {len(CA.curvesc()):4}]")

Tokens:  2233
Pairs:   2834 [carbon:   26]
Curves:  4156 [carbon:   70]

In [4]:
nocav = True
for pair in CA.pairsc():
    try:
        d = CA.pair_analysis(pair, novac=nocav)
        print(CA.pair_analysis_pp(d, nocav=nocav))
        #print(f"elapsed time: {time.time()-start_time:.2f}s")
    except Exception as e:
        pass
        print(f"[{pair}: {e} ]\n")

--------------------------------------------------------------------------------
Pair:               WBTC-C599/USDT-1ec7
--------------------------------------------------------------------------------
Price:              27,558.799057
Number of curves:   7 [carbon: 1]
Value locked:       7.71 USDT [carbon: 1.91, other: 5.80]
Simple arb value:   0.00 WBTC / 1.77 USDT

[SMT-7173/WETH-6Cc2: float division by zero ]

[TSUKA-69eD/USDC-eB48: float division by zero ]

/Users/skl/REPOES/Bancor/ArbBot/resources/NBTest/fastlane_bot/tools/optimizer.py:1419: RuntimeWarning: overflow encountered in exp
  p = np.exp(plog10 * np.log(10))
/Users/skl/REPOES/Bancor/ArbBot/resources/NBTest/fastlane_bot/tools/optimizer.py:1299: RuntimeWarning: overflow encountered in exp
  p = np.exp(p * np.log(10))
/Users/skl/REPOES/Bancor/ArbBot/resources/NBTest/fastlane_bot/tools/optimizer.py:1310: RuntimeWarning: invalid value encountered in double_scalars
  price = get(p, tokens_ix.get(tknb)) / get(p, tokens_ix.get(tknq))

--------------------------------------------------------------------------------
Pair:               WETH-6Cc2/USDC-eB48
--------------------------------------------------------------------------------
Price:              1,846.959308
Number of curves:   24 [carbon: 16]
Value locked:       200,646,390.69 USDC [carbon: 31,892.63, other: 200,614,498.05]
Simple arb value:   0.40 WETH / 741.17 USDC

--------------------------------------------------------------------------------
Pair:               LYXe-be6D/USDC-eB48
--------------------------------------------------------------------------------
Price:              14.391360
Number of curves:   3 [carbon: 1]
Value locked:       120,090.44 USDC [carbon: 120,059.20, other: 31.24]
Simple arb value:   -0.00 LYXe / -0.00 USDC

--------------------------------------------------------------------------------
Pair:               DAI-1d0F/USDC-eB48
--------------------------------------------------------------------------------
Price:              1.000111
Number of curves:   7 [carbon: 2]
Value locked:       57,995,957.50 USDC [carbon: 50.05, other: 57,995,907.45]
Simple arb value:   1,310.95 DAI / 1,311.18 USDC

[BNT-FF1C/USDC-eB48: float division by zero ]

--------------------------------------------------------------------------------
Pair:               WETH-6Cc2/DAI-1d0F
--------------------------------------------------------------------------------
Price:              1,845.141638
Number of curves:   7 [carbon: 1]
Value locked:       16,014,280.63 DAI [carbon: 1.94, other: 16,014,278.68]
Simple arb value:   0.01 WETH / 27.62 DAI

[BNT-FF1C/WETH-6Cc2: float division by zero ]

[vBNT-7f94/USDC-eB48: no curves found for USDC-eB48/vBNT-7f94 ]

--------------------------------------------------------------------------------
Pair:               WETH-6Cc2/USDT-1ec7
--------------------------------------------------------------------------------
Price:              1,844.550496
Number of curves:   8 [carbon: 1]
Value locked:       88,011.94 USDT [carbon: 0.00, other: 88,011.94]
Simple arb value:   0.14 WETH / 256.70 USDT

[BNT-FF1C/vBNT-7f94: float division by zero ]

[LBR-aCcA/WETH-6Cc2: no curves found for WETH-6Cc2/LBR-aCcA ]

[LINK-86CA/USDC-eB48: float division by zero ]

/Users/skl/REPOES/Bancor/ArbBot/resources/NBTest/fastlane_bot/tools/optimizer.py:1310: RuntimeWarning: invalid value encountered in double_scalars
  price = get(p, tokens_ix.get(tknb)) / get(p, tokens_ix.get(tknq))
/Users/skl/REPOES/Bancor/ArbBot/resources/NBTest/fastlane_bot/tools/optimizer.py:1310: RuntimeWarning: divide by zero encountered in double_scalars
  price = get(p, tokens_ix.get(tknb)) / get(p, tokens_ix.get(tknq))

--------------------------------------------------------------------------------
Pair:               CRV-cd52/USDC-eB48
--------------------------------------------------------------------------------
Price:              0.847351
Number of curves:   4 [carbon: 2]
Value locked:       9,897.56 USDC [carbon: 9,000.18, other: 897.38]
Simple arb value:   -58.06 CRV / 54.09 USDC

[PEPE-1933/WETH-6Cc2: no curves found for WETH-6Cc2/PEPE-1933 ]

--------------------------------------------------------------------------------
Pair:               WBTC-C599/USDC-eB48
--------------------------------------------------------------------------------
Price:              27,549.626394
Number of curves:   6 [carbon: 1]
Value locked:       34.59 USDC [carbon: 0.05, other: 34.54]
Simple arb value:   0.00 WBTC / 8.04 USDC

--------------------------------------------------------------------------------
Pair:               USDT-1ec7/USDC-eB48
--------------------------------------------------------------------------------
Price:              1.000675
Number of curves:   13 [carbon: 4]
Value locked:       62,105,165.29 USDC [carbon: 1,100.91, other: 62,104,064.38]
Simple arb value:   72.62 USDT / 72.67 USDC

--------------------------------------------------------------------------------
Pair:               WBTC-C599/WETH-6Cc2
--------------------------------------------------------------------------------
Price:              14.977633
Number of curves:   10 [carbon: 2]
Value locked:       1,788.32 WETH [carbon: 2.48, other: 1,785.84]
Simple arb value:   0.03 WBTC / 0.44 WETH

[rETH-6393/WETH-6Cc2: float division by zero ]

[RPL-A51f/XCHF-fc08: no curves found for XCHF-fc08/RPL-A51f ]

[LINK-86CA/USDT-1ec7: float division by zero ]

/Users/skl/REPOES/Bancor/ArbBot/resources/NBTest/fastlane_bot/tools/optimizer.py:1419: RuntimeWarning: overflow encountered in exp
  p = np.exp(plog10 * np.log(10))
/Users/skl/REPOES/Bancor/ArbBot/resources/NBTest/fastlane_bot/tools/optimizer.py:1299: RuntimeWarning: overflow encountered in exp
  p = np.exp(p * np.log(10))
/Users/skl/REPOES/Bancor/ArbBot/resources/NBTest/fastlane_bot/tools/optimizer.py:1310: RuntimeWarning: invalid value encountered in double_scalars
  price = get(p, tokens_ix.get(tknb)) / get(p, tokens_ix.get(tknq))
/Users/skl/REPOES/Bancor/ArbBot/resources/NBTest/fastlane_bot/tools/optimizer.py:1310: RuntimeWarning: invalid value encountered in double_scalars
  price = get(p, tokens_ix.get(tknb)) / get(p, tokens_ix.get(tknq))
/Users/skl/REPOES/Bancor/ArbBot/resources/NBTest/fastlane_bot/tools/optimizer.py:1310: RuntimeWarning: divide by zero encountered in double_scalars
  price = get(p, tokens_ix.get(tknb)) / get(p, tokens_ix.get(tknq))

--------------------------------------------------------------------------------
Pair:               0x0-1AD5/WETH-6Cc2
--------------------------------------------------------------------------------
Price:              0.000027
Number of curves:   3 [carbon: 2]
Value locked:       28,547,495.40 WETH [carbon: 13,420.84, other: 28,534,074.56]
Simple arb value:   157.88 0x0 / 0.00 WETH

[ARB-4ad1/MATIC-eBB0: no curves found for MATIC-eBB0/ARB-4ad1 ]

--------------------------------------------------------------------------------
Pair:               DAI-1d0F/USDT-1ec7
--------------------------------------------------------------------------------
Price:              0.999429
Number of curves:   6 [carbon: 2]
Value locked:       66,550.09 USDT [carbon: 40.20, other: 66,509.89]
Simple arb value:   0.53 DAI / 0.53 USDT

[stETH-fE84/WETH-6Cc2: float division by zero ]

/Users/skl/REPOES/Bancor/ArbBot/resources/NBTest/fastlane_bot/tools/optimizer.py:1310: RuntimeWarning: invalid value encountered in double_scalars
  price = get(p, tokens_ix.get(tknb)) / get(p, tokens_ix.get(tknq))
/Users/skl/REPOES/Bancor/ArbBot/resources/NBTest/fastlane_bot/tools/optimizer.py:1310: RuntimeWarning: divide by zero encountered in double_scalars
  price = get(p, tokens_ix.get(tknb)) / get(p, tokens_ix.get(tknq))

## Individual pairs

#### WETH/USDC

In [5]:
pair    = "WETH-6Cc2/USDC-eB48"
d       = CA.pair_analysis(pair)
CC_crb  = CA.curvesc(ascc=True).bypairs(pair)

In [6]:
print(CA.pair_analysis_pp(d))

--------------------------------------------------------------------------------
Pair:               WETH-6Cc2/USDC-eB48
--------------------------------------------------------------------------------
Price:              1,846.959308
Number of curves:   24 [carbon: 16]
Value locked:       200,646,390.69 USDC [carbon: 31,892.63, other: 200,614,498.05]
Simple arb value:   0.40 WETH / 741.17 USDC
Complex arb value:  error [USDC]
                    error [WETH]

In [7]:
d.xpairs

{'BNT-FF1C/DAI-1d0F',
 'BNT-FF1C/USDC-eB48',
 'BNT-FF1C/USDT-1ec7',
 'BNT-FF1C/WBTC-C599',
 'BNT-FF1C/WETH-6Cc2',
 'DAI-1d0F/USDC-eB48',
 'DAI-1d0F/USDT-1ec7',
 'USDT-1ec7/USDC-eB48',
 'WBTC-C599/DAI-1d0F',
 'WBTC-C599/USDC-eB48',
 'WBTC-C599/USDT-1ec7',
 'WBTC-C599/WETH-6Cc2',
 'WETH-6Cc2/DAI-1d0F',
 'WETH-6Cc2/USDC-eB48',
 'WETH-6Cc2/USDT-1ec7'}

In [8]:
d.tib_xnoc

In [9]:
d.tiq_xnoc

In [10]:
d.xarbvalq

{'err': "'NoneType' object has no attribute 'loc'"}

In [11]:
d.xarbvalb

{'err': "'NoneType' object has no attribute 'loc'"}

In [12]:
d.tib_xf

In [13]:
d.tiq_xf

In [14]:
d.tib

                                                USDC-eB48   WETH-6Cc2
593                                          42882.230186  -23.310666
255                                          60834.668735  -32.992846
803                                          36119.480117  -19.599706
1701411834604692317316873037158841057296-0      -1.994537    0.001033
346                                        -283469.114741  153.426765
1701411834604692317316873037158841057353-0   -7851.133636    4.234700
6c988ffdc9e74acd97ccfb16dd65c110             19186.643152  -10.399878
7ed16708962e459abe5431a176b13aa0             31063.062077  -16.819975
00125d264f9d49369a467e7708cee9b5             96026.079603  -52.119339
50ac5ace09c1483987af46c60c551073              5239.541793   -2.837308
1701411834604692317316873037158841057292-0      -6.141325    0.003317
1701411834604692317316873037158841057337-0     -23.321428    0.012616
PRICE                                            0.000541    1.000000
AMMIn                                       291351.705663  157.678431
AMMOut                                     -291351.705667 -158.079718
TOTAL NET                                       -0.000004   -0.401286

In [15]:
d.tiq

                                                USDC-eB48     WETH-6Cc2
593                                          42876.230348 -2.330742e+01
255                                          60814.434147 -3.298189e+01
803                                          36110.428047 -1.959480e+01
1701411834604692317316873037158841057296-0      -1.994537  1.033440e-03
346                                        -283952.717931  1.536886e+02
1701411834604692317316873037158841057353-0   -7851.133636  4.234700e+00
6c988ffdc9e74acd97ccfb16dd65c110             19177.155978 -1.039474e+01
7ed16708962e459abe5431a176b13aa0             30888.950301 -1.672571e+01
00125d264f9d49369a467e7708cee9b5             96004.293509 -5.210754e+01
50ac5ace09c1483987af46c60c551073              5222.664938 -2.828170e+00
1701411834604692317316873037158841057292-0      -6.141325  3.316581e-03
1701411834604692317316873037158841057337-0     -23.337391  1.262512e-02
PRICE                                            1.000000  1.846978e+03
AMMIn                                       291094.157267  1.579403e+02
AMMOut                                     -291835.324821 -1.579403e+02
TOTAL NET                                     -741.167554  1.244785e-09

In [16]:
d.tibq

            USDC-eB48     WETH-6Cc2
TOTAL NET   -0.000004 -4.012863e-01
TOTAL NET -741.167554  1.244785e-09

In [17]:
d.arbvalb, d.tknb

(0.40128633988557905, 'WETH-6Cc2')

In [18]:
d.arbvalq, d.tknq

(741.167553620834, 'USDC-eB48')